* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background: #e9f4ff;
}

.app {
    display: flex;
    height: 100vh;
}

/* SIDEBAR */
.sidebar {
    width: 230px;
    background: #1e293b;
    color: #fff;
    padding: 20px;
    display: flex;
    flex-direction: column;
}

/*logo di sidebar*/
.logo {
    margin-bottom: 30px;
    padding: 8px 12px;
    border-radius: 6px;
    font-weight: bold;
    text-align: left;
}

.logo h2{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

/*tombol di sidebar*/
.btn-sidebar button  {
        display: block;
        width: 100%;
        padding: 10px;
        margin-bottom: 14px;
        border-radius: 6px;
        border: none;
        color: #363636;
        cursor: pointer;
        justify-content: center;
        text-decoration: none;
        font-weight: bold;
        transition: 0.3s;
}

 .btn-sidebar button:hover,
.btn-sidebar button.active {
    background: #2563eb;
    color: #fff;
}

.logout {
    margin-top: auto;
    background: #dc2626;
    color: #fff !important;
    text-align: center;
}

/* MAIN */
.main {
    flex: 1;
    padding: 20px;
    overflow-y: auto;
}

/* TOPBAR */
.topbar {
    display: flex;
    justify-content: flex-start;
    background: #fff;
    padding: 15px 20px;
    border-radius: 8px;
    margin-bottom: 20px;
    align-items: center;
}

.topbar1{
    width: 100px;
}

.topbar1 h1{
    align-self: center;
    font-size: 17px;
    margin-bottom: 13px;
}

/*pencarian di topbar*/
.search-bar {
    position: relative; /* WAJIB */
    width: 220px;
}

.topbar1 .search-bar input {
    width: 100%;
    padding: 10px 12px 10px 38px; /* ruang icon */
    border-radius: 6px;
    border: none;
    outline: none;
    background-color: #eaeaea;
}

/*icon pencarian di topbar*/
.search-icon {
    position: absolute;
    left: 12px;
    top: 50%;
    transform: translateY(-50%);
    width: 16px;
    height: 16px;
    color: #6b7280;
    pointer-events: none;
}

/*logo warung sekolah*/
.logo1 {
    width: 90px;      /* ukuran div */
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;  /* gambar tidak keluar div */
    margin-left: auto;
}

.logo1 img {
    max-width: 155px;
    max-height: 155px;
    object-fit: contain; /* logo tetap proporsional */
}


/* SUMMARY */
.summary {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    margin-bottom: 25px;
}

/*kotak info*/
.card {
    width: 100%;
    background: #fff;
    padding: 20px;
    border-radius: 10px;
}

/*icon di kotak info*/
.icon{
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.icon img{
    width: 21px;
    height: 21px;
}

/*teks di kotak info*/
.info {
    align-items: center;
    justify-content: flex-start;
}

.info p{
    font-size: 15px;
    color: rgb(127, 127, 127);
}

.info h3{
    font-size: 22px;
    color: black;
}

.card h3 {
    margin-top: 8px;
}

/*responsive kotak info*/
@media (max-width: 992px) {
    .summary {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 576px) {
    .summary {
        grid-template-columns: 1fr;
    }
}


/* GRID */
.grid {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-areas:
        "grafik terlaris"
        "transaksi stok";
    gap: 20px;
}

/* mapping */
.grafik { grid-area: grafik; }
.terlaris { grid-area: terlaris; }
.transaksi { grid-area: transaksi; }
.stok { grid-area: stok; }

/*responsive bagian panel*/
@media (max-width: 768px) {
    .grid {
        grid-template-columns: 1fr;
        grid-template-areas:
            "grafik"
            "terlaris"
            "transaksi"
            "stok";
    }
}

/*bagian data penjualan*/
.panel {
    background: #fff;
    padding: 20px;
    border-radius: 10px;
}

.panel.large {
    grid-column: span 2;
}

/*panel transaksi*/
table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    padding: 10px;
    border-bottom: 1px solid #e5e7eb;
    text-align: left;
}

/*panel stok produk*/
.stock {
    list-style: none;
}

.stock li {
    display: flex;
    justify-content: space-between;
    padding: 8px 0;
}

.stock span {
    color: #dc2626;
    font-weight: bold;
}

/*panel produk terlaris*/
.best-product {
    list-style: none;
    padding: 0;
    margin: 0;
}

.best-product li {
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
    border-bottom: 1px solid #e5e7eb;
    font-size: 14px;
}

.best-product li:last-child {
    border-bottom: none;
}

.best-product strong {
    color: #2563eb;
}





